
.DS_Store
# Binaries
obj/
packages/
*.nupkg

# Local files
.vs/
*.csproj.user
*.mpco
.mpco
*.mpco
*AlpacaModel

#!**/Alpaca4d.Gh/OpenSees-Solvers

Alpaca.Core/bin/
Alpaca4d.Gh/bin/
Alpaca4d.Test/bin/
Alpaca4d.Utils/bin/
Alpaca4d.Utils/bin/

# Ignore only subfolders inside YAK (keep root files like manifest.yml, scripts, icon.png)
YAK/*/
