
.DS_Store
# Binaries
obj/
packages/
*.nupkg

# Local files
.vs/
.vscode/
*.csproj.user
*.mpco
.mpco
*.mpco
*AlpacaModel

#!**/Alpaca4d.Gh/OpenSees-Solvers

Alpaca.Core/bin/*
Alpaca4d.Gh/bin/
Alpaca4d.Test/bin/